FEISHU_APP_ID=cli_xxxxxxxxxxxxxxxx
FEISHU_APP_SECRET=replace_with_rotated_app_secret
FEISHU_DEFAULT_CHAT_ID=
SMART_CENTER_BASE_URL=http://127.0.0.1:5000
FEISHU_PUSH_TIMES=09:00
FEISHU_HTTP_TIMEOUT_SEC=4
