FEISHU_APP_ID=cli_xxxxxxxxxxxxxxxx
FEISHU_APP_SECRET=replace_with_rotated_app_secret
FEISHU_DEFAULT_CHAT_ID=
SMART_CENTER_BASE_URL=http://192.168.50.120:6899
FEISHU_PUSH_TIMES=09:00
FEISHU_HTTP_TIMEOUT_SEC=4
