Flask==3.0.0
modbus_tk==1.1.5
numpy==2.4.3
opencv-python==4.13.0.92
paho-mqtt==2.1.0
pysnmp==6.2.6
pyserial==3.5
wakeonlan==3.1.0
android_backup==0.2.0
appdirs==1.4.4
attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
construct==2.10.70
croniter==6.2.2
cryptography==46.0.6
defusedxml==0.7.1
ifaddr==0.2.0
micloud==0.6
ply==3.11
pyasn1==0.6.3
pycparser==3.0
pycryptodome==3.23.0
pysmi==1.6.3
pysnmpcrypto==0.0.4
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
requests==2.33.1
six==1.17.0
tqdm==4.67.3
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
zeroconf==0.148.0
mutagen==1.47.0
